<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-96 h-[60vh] bg-zinc-100 px-4 py-5 rounded-md">
    <h1 class="text-3xl leading-none">Create Your Account</h1>
    <form action="/register" method="post">
      <input
        class="border-2 rounded-md block mt-2 w-full px-3 py-2"
        type="text"
        name="username"
        placeholder="username"
      />
      <input
        class="border-2 rounded-md block mt-2 w-full px-3 py-2"
        type="text"
        name="fullname"
        placeholder="Full Name"
      />

      <input
        class="border-2 rounded-md block mt-2 w-full px-3 py-2"
        type="password"
        name="password"
        placeholder="password"
      />

      <input
        class="border-2 rounded-md block mt-2 w-full px-3 py-2"
        type="email"
        name="Email"
        placeholder="email"
      />
      <input
        class="border-2 rounded-md block mt-2 w-full px-3 py-2"
        type="contact"
        name="contact"
        placeholder="contact"
      />
      <a class="mt-2" href="#"></a>
      <input
        class="border-2 rounded-full block mt-5 w-full px-3 py-2 bg-red-600 text-white rounded-full"
        type="submit"
        value="Create Account"
      />
      <p
        class="text-xs font-semibold text-zinc-700 mt-10 w-2/3 mx-auto text-center"
      >
        Terms of service copy it from from main site of Pinterest
      </p>
    </form>
    <a
      class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full"
      href="/"
      >Login Existing Account</a
    >
  </div>
</div>
<% include ./partials/footer.ejs %>
